# Data Types

In [6]:
x = 34 ; y = 67.89 ; z = True

In [7]:
print('x = ', x, '\ty = ', y, '\tz = ', z)

x =  34 	y =  67.89 	z =  True

In [8]:
print('Type of \nx = ', type(x), '\ty = ', type(y), '\tz = ', type(z))

Type of
x =  <class 'int'> 	y =  <class 'float'> 	z =  <class 'bool'>

In [9]:
var = 'abc'
print('var = ', var)
print('type of var ', type(var))

var =  abc
type of var  <class 'str'>

## Data Type Conversion

In [10]:
x = 45.77
int(x)

45

In [11]:
str(x)

'45.77'

In [12]:
bool(x)

True

In [13]:
y = '45.88'

In [14]:
float(y)

45.88

In [16]:
int(y)

ValueError: invalid literal for int() with base 10: '45.88'

## Checking Refrences

In [17]:
x = 34 
y = x
print('x = ', x, ';  id of x = ', id(x))
print('y = ', y, ';  id of y = ', id(y))

x =  34 ;  id of x =  140736556071064
y =  34 ;  id of y =  140736556071064

In [18]:
x = 65
print('x = ', x, ';  id of x = ', id(x))
print('y = ', y, ';  id of y = ', id(y))

x =  65 ;  id of x =  140736556072056
y =  34 ;  id of y =  140736556071064

In [19]:
y = 78
print('x = ', x, ';  id of x = ', id(x))
print('y = ', y, ';  id of y = ', id(y))

x =  65 ;  id of x =  140736556072056
y =  78 ;  id of y =  140736556072472

#

# 
# 
# 
#

# Arithmetic Operators

In [20]:
x = 50
y = 4

In [21]:
print('Sum of x & y                   : ', x + y)
print('Difference between x & y       : ', x - y)
print('Product of x & y               : ', x * y)
print('Division of x by y             : ', x / y)

Sum of x & y                   :  54
Difference between x & y       :  46
Product of x & y               :  200
Division of x by y             :  12.5

In [22]:
print('Remainder of x divided by y    : ', x % y)
print('Floor Division x divided by y  : ', x // y)
print('Exponential value for x raised to power y : ', x ** y)

Remainder of x divided by y    :  2
Floor Division x divided by y  :  12
Exponential value for x raised to power y :  6250000

# 
# 
# 
#

# Arithmetic Assignment Operators

In [23]:
a = 10
print('Present value of a = ', a )

Present value of a =  10

In [24]:
a += 5
print('Updated value of a = ', a )

Updated value of a =  15

In [25]:
a = 10
print('Present value of a = ', a )
print('Present id of a = ', id(a))

Present value of a =  10
Present id of a =  140736556070296

In [26]:
a += 15
print('Updated value of a = ', a )
print('Updated id of a = ', id(a))

Updated value of a =  25
Updated id of a =  140736556070776

# 
# 
# 
#

# Comparison Operator

In [27]:
a = 20
b = 20
print('a = ', a, '  b = ', b)
print('a == b  : ', a == b)

a =  20   b =  20
a == b  :  True

In [28]:
a = 20
b = 30
print('a = ', a, '  b = ', b)
print('a != b  : ', a != b)

a =  20   b =  30
a != b  :  True

In [29]:
a = 40
b = 30
print('a = ', a, '  b = ', b)
print('a <= b  : ', a <= b)

a =  40   b =  30
a <= b  :  False

In [30]:
a = 30
b = 30
print('a = ', a, '  b = ', b)
print('a >= b  : ', a >= b)

a =  30   b =  30
a >= b  :  True

# 
# 
# 
#

# Logical Operators

In [ ]:
a = 30
b = 30
print('a = ', a, '  b = ', b)
print('a < b            : ', a < b)
print('a == b           : ', a == b)

In [ ]:
print('a < b and a == b : ', a < b and a == b)

In [ ]:
a = 30
b = 30
print('a = ', a, '  b = ', b)
print('a < b           : ', a < b)
print('a == b          : ', a == b)

In [ ]:
print('a < b or a == b : ', a < b or a == b)

In [ ]:
a = 40
print('a = ', a)
print('a < 50      : ' , a < 50 )

In [ ]:
print('not a < 50  : ' , not(a < 50))

# 
# 
# 
# 
#

# Miscellaneous Operators

### Identity Operators

In [ ]:
a = ['a', 'b', 'c']
b = ['a', 'b', 'c']
print('a is b' , a is b)

In [ ]:
a = ['a', 'b', 'c']
b =  a
print('a is b' , a is b)

In [ ]:
id(a) == id(b)

In [ ]:
a = ['a', 'b', 'c']
b = ['a', 'b', 'c']
print('a is not b' , a is not b)

### Membership Operators

In [ ]:
x = 'a'
y = 'Dictionary'
print(x , ' in "', y, '"')
print( x in y)

In [ ]:
x = 'a'
y = 'Dictionary'
print(x , ' in "', y, '"')
print( x not in y)

In [ ]:
a = [20, 45, 10]
10 in a

In [ ]:
a = [20, 45, 10]
10 not in a

In [38]:
name="Welcome to the course of Data Science from VisionAsthraa"

In [39]:
name

'Welcome to the course of Data Science from VisionAsthraa'

In [41]:
word=name.split()

In [42]:
word

['Welcome',
 'to',
 'the',
 'course',
 'of',
 'Data',
 'Science',
 'from',
 'VisionAsthraa']

In [43]:
word[-1]

'VisionAsthraa'

# 
#  
# 
# 
# 
#

# Strings in Python

In [ ]:
message_1 = 'Hi! Welcome to Python Programming!!'
message_2 = "Hi! Welcome to Python Programming!!"
print(message_1)
print(message_2)

In [ ]:
message_1 = 'Hi! Welcome to "Python Programming"!!'
message_2 = "Hi! Welcome to 'Python Programming'!!"
print(message_1)
print(message_2)

# String methods

In [32]:
string = 'She seLLs sEa SHELLS oN tHe SeA sHoRe.'

In [33]:
upper_case = string.upper()
print(upper_case)

SHE SELLS SEA SHELLS ON THE SEA SHORE.

In [34]:
lower_case = string.lower()
print(lower_case)

she sells sea shells on the sea shore.

In [36]:
sentence = string.capitalize()
print(sentence)

She sells sea shells on the sea shore.

In [35]:
string

'She seLLs sEa SHELLS oN tHe SeA sHoRe.'

In [37]:
word_upper = string.title()
word_upper

'She Sells Sea Shells On The Sea Shore.'

In [45]:
file = open("log.txt","r")

In [46]:
file = open("log.txt","w")

In [47]:
file.write("Application started successfully\n")

33

In [48]:
file.write("Uses loggedIn\n")

14

In [49]:
file.close()

In [50]:
file

In [51]:
print(file)

<_io.TextIOWrapper name='log.txt' mode='w' encoding='cp1252'>

In [52]:
file = open("log.txt","r")

In [53]:
content = file.read()

In [54]:
print(content)

Application started successfully
Uses loggedIn

In [55]:
file.close()

In [56]:
file = open("log.txt","a")

In [57]:
file.write("User Clicked on payment button\n")

31

In [58]:
file.close()

In [60]:
file = open("log.txt","r")
content1 = file.read()
print(content1)
file.close()

Application started successfully
Uses loggedIn
User Clicked on payment button

In [61]:
#Read file line by line

In [66]:
file1 = open("log.txt","r") 
line =file1.readline()
print(line)
file1.close()

Application started successfully

In [ ]:
#read all the lines as a list

In [68]:
file2 = open("log.txt","r") 
line =file2.readlines()
print(line)
file2.close()

['Application started successfully\n', 'Uses loggedIn\n', 'User Clicked on payment button\n']

In [69]:
#Writing multiple lines at once

In [70]:
file3=open("read.txt","w")
lines=["Employee Report\n","Id of the Employee\n", "Total Employees\n","Active Employees\n"] 
file3.writelines(lines)
file3.close()

In [73]:
file3 = open("read.txt","r")
content3 = file3.read()
print(content3)
file3.close()

Employee Report
Id of the Employee
Total Employees
Active Employees

In [74]:
with open("read.txt","r") as file:
    content4 = file.read()
    print(content4)

Employee Report
Id of the Employee
Total Employees
Active Employees